/* .header {
  background-color: lightgrey;
} */

.head {
  margin: 0;
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  align-items: center;
}
.Sell {
  background-color: aqua;
  width: 260px;
  height: 80px;
  text-align: center;
  margin-left: 30px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

input {
  width: 100px;
  border: none;
  height: 20px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 30px;
}
.logo {
  margin-left: 200px;
  margin-top: 40px;
  background-color: rgb(231, 224, 224);
  width: 260px;
  height: 80px;
  text-align: center;
  border-radius: 10px;
}
.head-center {
  margin: 0;
  width: 620px;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 10px;

}
